<!DOCTYPE html>
<html>
  <head>
    <title>n6ls0n</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon/favicon.ico', rel: 'icon', type: 'image/ico' %>
    <%= favicon_link_tag 'favicon/android-chrome-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'favicon/android-chrome-512x512.png', rel: 'icon', type: 'image/png', sizes: '512x512' %>
  </head>

  <body class = "prose mx-auto">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <% if user_signed_in? %>
      <%#= link_to "Profile", edit_user_registration_path %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      <%# else %>
        <%#= link_to "Login", new_user_session_path %>
        <%#= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
